
.icon-menu-icon-1:before { content: '\e800'; } /* '' */
.icon-menu-icon-2:before { content: '\e801'; } /* '' */
.icon-menu-icon-3:before { content: '\e802'; } /* '' */
.icon-menu-icon-4:before { content: '\e803'; } /* '' */
.icon-menu-icon-5:before { content: '\e804'; } /* '' */
.icon-menu-icon-6:before { content: '\e805'; } /* '' */
.icon-menu-icon-8:before { content: '\e806'; } /* '' */
.icon-menu-icon-help:before { content: '\e807'; } /* '' */
.icon-menu-item-tlgrm:before { content: '\e808'; } /* '' */
